{%extends "layout.html"%}
{% block content%}
   <!-- NAVBAR -->
   <nav>
    <div class="logo">
        <img src="{{url_for('static', filename='image/electronics.png')}}" width="30" alt="اجهزة حديثه"/>
      <h4>تسوق اسهل </h4>
    </div>
    <ul class="nav-items">
      <li class="nav-item">
        <a href="{{url_for('categories')}}" class="nav-link">الفئات</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('home')}}" class="nav-link"> تسجيل خروج</a>
      </li>
    </ul>
  </nav>

   

    <h2>
    <table>
      <caption>
        الاجزة المضافة لسلة الشراء
</caption>
      <thead>
        <tr>
          <th scope="col">اسم الجهاز</th>
          <th scope="col">الموديل</th>
          <th scope="col">السعر</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for carts in cart %}
          <th scope="row"><p>{{cart.name}}</p></th>
          {% endfor %}
          <td>2T-C43DG6EX</td>
          <td>6699</td>
        </tr>
        <!--
        <tr>
          <th scope="row">Tv samsung</th>
          <td>UA43AU7000UXEG</td>
          <td>6949</td>
        </tr>    
        <tr>
          <th scope="row">Tv LG</th>
          <td>50UQ75006LG</td>
          <td>8499  </td>
        </tr>
        <--
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" colspan="2">المبلغ الكلي</th>
          <td colspan="2">22147</td>
        </tr>
      </tfoot>
      -->
    </table>
  </h2>



   
   <!-- Footer -->
   <footer>
    <div class="footer-section">
      <p>جميع الحقوق محفوظة لشركة تسوق اسهل 2022</p>
      <div class="socials">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
 {%endblock content%}