{%extends "layout.html"%}
{% block content%}
   <!-- NAVBAR -->
   <nav>
    <div class="logo">
        <img src="{{url_for('static', filename='image/electronics.png')}}" width="30" alt="اجهزة حديثه"/>
      <h4>تسوق اسهل </h4>
    </div>
    <ul class="nav-items">
      <li class="nav-item">
        <a href="{{url_for('categories')}}" class="nav-link">الفئات</a>
      </li>
      <li class="nav-item">
        <a href="basket.html" class="nav-link"> السلة </a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('home')}}" class="nav-link"> تسجيل خروج</a>
      </li>
    </ul>
  </nav>

   <!--Tv-section-->

   <section class="hero">
      <div class="hero-section">
        <div class="content">
          <h4> Air-Conditioner LG </h4>
          <h1>
السعر : 14,000
        </h1>
        <h3>  الموديل : S4-Q18JA3AC </h3>
          <p>
            تكييف إل جي ديوال انفرتر كومبريسور STD قدرة 1.5 حصان بارد فقط توفير للطاقه, تبريد أسرع مع ضمان 10 سنوات على الكومبريسور
            توفير الطاقه ,
            تبريد أسرع ,
            ديوال انفرتر كومبريسور ,
            ضمان 10 سنوات على الكومبريسور ,
            صوت هادئ
          </p>
          <form action="{{cart.name == 'airconlg'}}"><button class="btn"><a href="{{url_for('AddCart')}}"> اضافه للسلة</a></button></form>
        </div>
        <div class="hero-image">
          <img src="{{url_for('static', filename='image/Air LG.jpg')}}" width="600" alt="Air-Conditioner LG  " />
        </div><br>
      </div>
      
    </section>


   <!-- Footer -->
   <footer>
    <div class="footer-section">
      <p>جميع الحقوق محفوظة لشركة تسوق اسهل 2022</p>
      <div class="socials">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
  {%endblock content%}
