{%extends "layout.html"%}
{% block content%}
   <!-- NAVBAR -->
   <nav>
    <div class="logo">
        <img src="{{url_for('static', filename='image/electronics.png')}}" width="30" alt="اجهزة حديثه"/>
      <h4>تسوق اسهل </h4>
    </div>
    <ul class="nav-items">
      <li class="nav-item">
        <a href="{{url_for('categories')}}" class="nav-link">الفئات</a>
      </li>
      <li class="nav-item">
        <a href="basket.html" class="nav-link"> السلة </a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('home')}}" class="nav-link"> تسجيل خروج</a>
      </li>
    </ul>
  </nav>


   <!--devices-section-->
   <section class="o-brands" id="All">
    <div class="o-brands-section">
      <h4>TV-section</h4>
      <div class="Brands">
        <div class="Brands">
          <img src="{{url_for('static', filename='image/Tv LG.jpg')}}" width="250" />
          <h4>Tv LG </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/Tv samsung.jpg')}}" width="190" />
          <h4>Tv samsung </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/Tv sharp.jpg')}}" width="250" />
          <h4>Tv sharp </h4>
        </div>
      </div>


        <h4>fridge-section</h4>
      <div class="Brands">
        <div class="Brands">
          <img src="{{url_for('static', filename='image/FRE LG.jpg')}}" width="150" />
          <h4>fridge LG </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/FRE samsung.jpg')}}" width="170" />
          <h4>fridge samsung </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/FRE sharp.jpg')}}" width="300" />
          <h4>fridge sharp </h4>
        </div>
      </div>

      <h4>Air-Conditioner-section</h4>
      <div class="Brands">
        <div class="Brands">
          <img src="{{url_for('static', filename='image/Air LG.jpg')}}" width="270" />
          <h4>air-conditioner LG </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/Air samsung.jpg')}}" width="330" />
          <h4>air-conditioner samsung </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/Air sharp.jpg')}}" width="330" />
          <h4>air-conditioner sharp </h4>
        </div>
      </div>

      <h4>extractor-section</h4>
      <div class="Brands">
        <div class="Brands">
          <img src="{{url_for('static', filename='image/fan LG.jpg')}}" width="270" />
          <h4>extractor LG </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/fan samsung.jpg')}}" width="260" />
          <h4>extractor samsung </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/fan sharp.jpg')}}" width="250" />
          <h4>extractor sharp </h4>
        </div>
      </div>

      <h4>washing-machine-section</h4>
      <div class="Brands">
        <div class="Brands">
          <img src="{{url_for('static', filename='image/wish Lg.jpg')}}" width="180" />
          <h4>washing-machine LG </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/wish samsung.webp')}}" width="250" />
          <h4>washing-machine samsung </h4>
        </div>
        <div class="Brands">
          <img src="{{url_for('static', filename='image/wish sharp.png')}}" width="250" />
          <h4>washing-machine sharp </h4>
        </div>
      </div>

    </div>
  </section>


   <!-- Footer -->
   <footer>
    <div class="footer-section">
      <p>جميع الحقوق محفوظة لشركة تسوق اسهل 2022</p>
      <div class="socials">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
  {% endblock content %}