{%extends "layout.html"%}
{% block content%}
   <!-- NAVBAR -->
   <nav>
    <div class="logo">
        <img src="{{url_for('static', filename='image/electronics.png')}}" width="30" alt="اجهزة حديثه"/>
      <h4>تسوق اسهل </h4>
    </div>
    <ul class="nav-items">
      <li class="nav-item">
        <a href="{{url_for('categories')}}" class="nav-link">الفئات</a>
      </li>
      <li class="nav-item">
        <a href="basket.html" class="nav-link"> السلة </a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('home')}}" class="nav-link"> تسجيل خروج</a>
      </li>
    </ul>
  </nav>


   <!--fridge-section-->
   <section class="o-brands" id="fridge">
    <div class="o-brands-section">
      <h4>fridge-section</h4>
      <div class="Brands">
        {% for fridges in fridge %}
        <div class="Brands">
          <a href="{{fridges.name}}">
          <img src="{{url_for('static', filename='image/' + fridges.photo)}}" width="190" />
          </a>
          <h4>{{fridges.name}} </h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


   <!-- Footer -->
   <footer>
    <div class="footer-section">
      <p>جميع الحقوق محفوظة لشركة تسوق اسهل 2022</p>
      <div class="socials">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
{%endblock content%}
