{%extends "layout.html"%}
{% block content%}
   <!-- NAVBAR -->
   <nav>
    <div class="logo">
        <img src="{{url_for('static', filename='image/electronics.png')}}" width="30" alt="اجهزة حديثه"/>
      <h4>تسوق اسهل </h4>
    </div>
    <ul class="nav-items">
      <li class="nav-item">
        <a href="{{url_for('categories')}}" class="nav-link">الفئات</a>
      </li>
      <li class="nav-item">
        <a href="basket.html" class="nav-link"> السلة </a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('home')}}" class="nav-link"> تسجيل خروج</a>
      </li>
    </ul>
  </nav>


   <!--Tv-section-->

   <section class="hero">
      <div class="hero-section">
        <div class="content">
          <h4> Fridge SAMSUNG </h4>
          <h1>
السعر : 19390
        </h1>
        <h3>  الموديل : RT38K50AJS8/MR </h3>
          <p>
          	تصميم الثلاجة: فري ستاند ,
            	شكل الثلاجة: ثلاجة بفريزر علوي ,
            	نظام التبريد: نوفروست ,
            	السعة بالقدم: 16 ,
            	السعة باللتر: 385 ,
             	لون المنتج: فضي ,
            	مكان الفريزر: في الاعلى ,
            	شاشة ديجيتال: متاح ,
             	عدد الابواب: 2 ,
            	نوع الاضاءة الداخلية: اضاءة ال اي دي ,
            	صانع مكعبات الثلج: متاح ,
            	مبرد مياه: غير متاح ,
            	عدد الارفف: 3 ارفف او اقل ,
            	تكنولوجيا الانفرتر: غير متاح ,
            	ارفف قابلة للتعديل: متاح,
            	تقنية البلازما كلاستر
          </p>
          <button class="btn"><a href="#features"> اضافه للسلة</a></button>
        </div>
        <div class="hero-image">
          <img src="{{url_for('static', filename='image/FRE samsung.jpg')}}" width="250" alt="Fridge SAMSUNG" />
        </div>
      </div>
    </section>


   <!-- Footer -->
   <footer>
    <div class="footer-section">
      <p>جميع الحقوق محفوظة لشركة تسوق اسهل 2022</p>
      <div class="socials">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
  {%endblock content%}