{%extends "layout.html"%}
{% block content%}
   <!-- NAVBAR -->
   <nav>
    <div class="logo">
        <img src="{{url_for('static', filename='image/electronics.png')}}" width="30" alt="اجهزة حديثه"/>
      <h4>تسوق اسهل </h4>
    </div>
    <ul class="nav-items">
      <ul class="nav-items">
        <li class="nav-item">
          <a href="{{url_for('categories')}}" class="nav-link">الفئات</a>
        </li>
        <li class="nav-item">
          <a href="{{url_for('home')}}" class="nav-link"> تسجيل خروج</a>
        </li>
    </ul>
  </nav>



   <!--Tv-section-->

   <section class="hero">
      <div class="hero-section">
        <div class="content">
          <h4> Fridge SHARP </h4>
          <h1>
السعر : 25180
        </h1>
        <h3>  الموديل : SJ-PV73K-BK </h3>
          <p>
            سعة الثلاجة الداخلية باللتر : 558 لتر ,
            السعة اللترية للكابينة : 376 لتر ,
            السعة اللترية للفريزر : 182 لتر ,
            عدد أبواب الثلاجة : 2 باب ,
            لون الثلاجة : أسود ,
            شاشة تحكم ديجيتال ,
            ثلاجة بفريزر سفلي ,
            مزودة بتكنولوجيا الانفرتر
          </p>
          <div> <button class="btn"><a href="{{url_for('payment')}}">شراء</a></button></div>
        </div>
        <div class="hero-image">
          <img src="{{url_for('static', filename='image/FRE sharp.jpg')}}" width="399" alt="Fridge SHARP" />
        </div>
      </div>
    </section>


   <!-- Footer -->
   <footer>
    <div class="footer-section">
      <p>جميع الحقوق محفوظة لشركة تسوق اسهل 2022</p>
      <div class="socials">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
  {%endblock content%}
